*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
}

.menu-container{
    height: 4rem;
    background-color: royalblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu-list{
    margin-right: 1rem;
    display: flex;
    list-style: none;
}
.menu-list li{
    margin: 0 1rem;
}
.menu-list a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.title-container{
    background-color:salmon;
    color: #fff;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-detail{
    font-size: 3rem;
    width: 0 auto;
}
.text-container{
    font-size: 1.8rem;
    background-color: seagreen;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-container p{
    width: 50%;
    height: 20rem;
    margin: 1rem;
    display: flex;
    align-items: center;
}